{% extends "layout.html" %}

{% block title %}
    Lineup
{% endblock %}

{% block main %}
    <div class="container p-5">
    <p><h4>{{ user['team_name'] }}: Select Lineup for Round {{ next_round}}</h4></p>
    {% if error %}
    <p><h3>{{ error }}</h3></p>
    {% endif %}
    {% if powerplay == false and user['powerplays'] < 2 %}
    <form action="/lineup" method="POST">
        <div class="form-group">
            <button type="submit" name ="powerplay" class="btn btn-success">Use Powerplay</button>
        </div>
    </form>
    {% endif %}
    {% if powerplay == true %}
    <form action="/lineup" method="POST">
        <div class="form-group">
        <button type="submit" name ="powerplay_off" class="btn btn-danger">Turn Off Powerplay</button>
    </div>
    </form>
    {% endif %}
    <div class="table-responsive">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th style="color: green;">Position</th>
                <th style="color: green;">Player</th>
            </tr>
        </thead>
        <tbody>
        <form action="/lineup" method="post">
        <tr>
            <td style="white-space: nowrap;">Fullback</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="back">
                        {% if fullback %}
                        <option>{{ fullback['lineup_player_name'] }}, {{ fullback['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(backs_length) %}
                        <option>{{ backs[x]['player_name'] }}, {{ backs[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Winger</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="back">
                        {% if winger1 %}
                        <option>{{ winger1['lineup_player_name'] }}, {{ winger1['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(backs_length) %}
                        <option>{{ backs[x]['player_name'] }}, {{ backs[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Centre</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="back">
                        {% if centre1 %}
                        <option>{{ centre1['lineup_player_name'] }}, {{ centre1['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(backs_length) %}
                        <option>{{ backs[x]['player_name'] }}, {{ backs[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Centre</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="back">
                        {% if centre2 %}
                        <option>{{ centre2['lineup_player_name'] }}, {{ centre2['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(backs_length) %}
                        <option>{{ backs[x]['player_name'] }}, {{ backs[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Winger</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="back">
                        {% if winger2 %}
                        <option>{{ winger2['lineup_player_name'] }}, {{ winger2['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(backs_length) %}
                        <option>{{ backs[x]['player_name'] }}, {{ backs[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Five-Eighth</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="playmaker">
                        {% if five_eighth %}
                        <option>{{ five_eighth['lineup_player_name'] }}, {{ five_eighth['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(playmakers_length) %}
                        <option>{{ playmakers[x]['player_name'] }}, {{ playmakers[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Halfback</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="playmaker">
                        {% if halfback %}
                        <option>{{ halfback['lineup_player_name'] }}, {{ halfback['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(playmakers_length) %}
                        <option>{{ playmakers[x]['player_name'] }}, {{ playmakers[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Prop</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="forward">
                        {% if prop1 %}
                        <option>{{ prop1['lineup_player_name'] }}, {{ prop1['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(forwards_length) %}
                        <option>{{ forwards[x]['player_name'] }}, {{ forwards[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Hooker</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="playmaker">
                        {% if hooker %}
                        <option>{{ hooker['lineup_player_name'] }}, {{ hooker['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(playmakers_length) %}
                        <option>{{ playmakers[x]['player_name'] }}, {{ playmakers[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Prop</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="forward">
                        {% if prop2 %}
                        <option>{{ prop2['lineup_player_name'] }}, {{ prop2['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(forwards_length) %}
                        <option>{{ forwards[x]['player_name'] }}, {{ forwards[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">2nd Row</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="forward">
                        {% if row1 %}
                        <option>{{ row1['lineup_player_name'] }}, {{ row1['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(forwards_length) %}
                        <option>{{ forwards[x]['player_name'] }}, {{ forwards[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">2nd Row</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="forward">
                        {% if row2 %}
                        <option>{{ row2['lineup_player_name'] }}, {{ row2['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(forwards_length) %}
                        <option>{{ forwards[x]['player_name'] }}, {{ forwards[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Lock</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="forward">
                        {% if lock %}
                        <option>{{ lock['lineup_player_name'] }}, {{ lock['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(forwards_length) %}
                        <option>{{ forwards[x]['player_name'] }}, {{ forwards[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Interchange 1</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="interchange">
                        {% if interchange1 %}
                        <option>{{ interchange1['lineup_player_name'] }}, {{ interchange1['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(squad_length) %}
                        <option>{{ squad[x]['player_name'] }}, {{ squad[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Interchange 2</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="interchange">
                        {% if interchange2 %}
                        <option>{{ interchange2['lineup_player_name'] }}, {{ interchange2['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(squad_length) %}
                        <option>{{ squad[x]['player_name'] }}, {{ squad[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Interchange 3</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="interchange">
                        {% if interchange3 %}
                        <option>{{ interchange3['lineup_player_name'] }}, {{ interchange3['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(squad_length) %}
                        <option>{{ squad[x]['player_name'] }}, {{ squad[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td style="white-space: nowrap;">Interchange 4</td>
            <td>
                <div class="form-group">
                    <select class="form-control" name="interchange">
                        {% if interchange4 %}
                        <option>{{ interchange4['lineup_player_name'] }}, {{ interchange4['lineup_nrl_team'] }}</option>
                        {% endif %}
                        <option>None</option>
                        {% for x in range(squad_length) %}
                        <option>{{ squad[x]['player_name'] }}, {{ squad[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
        </tr>
        <tr>
            <td>
                Captain:
                <div class="form-group">
                    <select class="form-control" name="captain">
                        {% if captain %}
                        <option>{{ captain['lineup_player_name'] }}, {{ captain['lineup_nrl_team'] }}</option>
                        {% endif %}
                        {% for x in range(squad_length) %}
                        <option>{{ squad[x]['player_name'] }}, {{ squad[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if powerplay == true %}
                Captain 2:
                <div class="form-group">
                    <select class="form-control" name="captain">
                        {% if captain2 %}
                        <option>{{ captain2['lineup_player_name'] }}, {{ captain2['lineup_nrl_team'] }}</option>
                        {% endif %}
                        {% for x in range(squad_length) %}
                        <option>{{ squad[x]['player_name'] }}, {{ squad[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                Vice-Captain:
                <div class="form-group">
                    <select class="form-control" name="vice">
                        {% if lineup_exists %}
                        <option>{{ existing_vice[0]['lineup_player_name'] }}, {{ existing_vice[0]['lineup_nrl_team'] }}</option>
                        {% endif %}
                        {% for x in range(squad_length) %}
                        <option>{{ squad[x]['player_name'] }}, {{ squad[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
                Kicker:
                <div class="form-group">
                    <select class="form-control" name="kicker">
                        {% if lineup_exists %}
                        <option>{{ existing_kicker[0]['lineup_player_name'] }}, {{ existing_kicker[0]['lineup_nrl_team'] }}</option>
                        {% endif %}
                        {% for x in range(squad_length) %}
                        <option>{{ squad[x]['player_name'] }}, {{ squad[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                Backup Kicker:
                <div class="form-group">
                    <select class="form-control" name="backup">
                        {% if lineup_exists %}
                        <option>{{ existing_backup[0]['lineup_player_name'] }}, {{ existing_backup[0]['lineup_nrl_team'] }}</option>
                        {% endif %}
                        {% for x in range(squad_length) %}
                        <option>{{ squad[x]['player_name'] }}, {{ squad[x]['nrl_team'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" name = "submit_lineup" class="btn btn-success">Submit Lineup</button>
            </td>
        </tr>
        </form>
        </tbody>

    </table>
    </div>
    </div>
{% endblock %}
