{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="container p-5">
    <form action="/register" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirm_password" placeholder="Confirm password" type="password">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="team_name" placeholder="Team Name" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="team_short" placeholder="Team Acronym" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="homeground" placeholder="Home Ground" type="text">
        </div>
        <div class="form-group" >
            <p>Upload team logo</p><input name="file" type="file" class="form-control-file" id="team_logo">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
{% endblock %}