{% extends "layout.html" %}

{% block title %}
    NRL Squads
{% endblock %}

{% block main %}
<div class="container">
    <p><h4>Select Players</h4></p>
    <form action="/squads" method="post">
        <div class="form-group">
            <select class="form-control" name="club">
                <option disabled selected>Choose NRL club</option>
                <option>Broncos</option>
                <option>Bulldogs</option>
                <option>Cowboys</option>
                <option>Dragons</option>
                <option>Eels</option>
                <option>Knights</option>
                <option>Panthers</option>
                <option>Rabbitohs</option>
                <option>Raiders</option>
                <option>Roosters</option>
                <option>Sea Eagles</option>
                <option>Sharks</option>
                <option>Storm</option>
                <option>Titans</option>
                <option>Warriors</option>
                <option>Wests Tigers</option>
            </select>
            <button type="submit" class="btn btn-primary">View players</button>
        </div>
    </form>
    <form action="/squads" method="post">
        <div class="form-group">
            <select class="form-control" name="team">
                <option disabled selected>Choose XRL Team</option>
		{% for x in range(number_of_teams) %}
		<option>{{ teams[x]['team_short'] }}</option>
		{% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">View players</button>
        </div>
    </form>
    {% if page_format == "nrl" %}
    <h4>{{ club }} Squad</h4>
    {% endif %}
    {% if page_format == "xrl" %}
    <img src="static/{{ user['team_logo'] }}" alt="{{ user['team_short'] }}" height="80" style="padding: 10px;"><h4>{{ user['team_name'] }} Squad</h4>
    {% endif %}
    <div class="table-responsive">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Player</th>
                <th>Position</th>
                <th>Position 2</th>
		<th>{% if page_format == "nrl" %}XRL Team{% endif %}{% if page_format == "xrl" %}NRL Team{% endif %}</th>
            </tr>
        </thead>
        <tbody>
        {% for x in range(n) %}
        <tr>
            <td style="white-space: nowrap;">
                {{ players[x]['player_name'] }}
            </td>
            <td>
                {{ players[x]['position'] }}
            </td>
            <td>
                {{ players[x]['position2'] }}
            </td>
	    {% if page_format == "nrl" %}
            <td>
                {{ players[x]['xrl_team'] }}
            </td>
	    {% endif %}
	    {% if page_format == "xrl" %}
            <td>
                {{ players[x]['nrl_team'] }}
            </td>
	    {% endif %}
        </tr>
        {% endfor %}
        </tbody>

    </table>
    </div>
</div>
{% endblock %}
