{% extends "layout.html" %}

{% block title %}
    Stats
{% endblock %}

{% block main %}
    <p><h4>Select Filters</h4></p>
    <form action="/stats" method="post">
        <div class="form-group">
            <label for="round">Round</label>
            <select class="form-control" name="round">
                {% for x in range(r) %}
                <option>{{ rounds[x] }}</option>
                {% endfor %}
                <option>All</option>
            </select>
            <label for="nrl_club">NRL Club</label>
            <select class="form-control" name="nrl_club" aria-placeholder="Choose a club">
                <option>All</option>
                <option>Broncos</option>
                <option>Bulldogs</option>
                <option>Cowboys</option>
                <option>Dragons</option>
                <option>Eels</option>
                <option>Knights</option>
                <option>Panthers</option>
                <option>Rabbitohs</option>
                <option>Raiders</option>
                <option>Roosters</option>
                <option>Sea Eagles</option>
                <option>Sharks</option>
                <option>Storm</option>
                <option>Titans</option>
                <option>Warriors</option>
                <option>Wests Tigers</option>
            </select>
            <label for="xrl_team">XRL Team</label>
            <select class="form-control" name="xrl_team" aria-placeholder="Choose a club">
                <option>{{ team_selected }}</option>
                {% for x in range(t) %}
                <option>{{ teams[x] }}</option>
                {% endfor %}
                <option>All</option>
            </select>
            <button type="submit" class="btn btn-primary">View stats</button>
        </form>
    </div>
    <div class="container table-responsive" style="height: 750px;">
    <table class="table table-dark table-striped">
        <thead style="color: green;">
            <tr>
                <th>Player</th>
                <th>Club</th>
                <th>XRL Team</th>
                <th>Position</th>
                <th>Minutes</th>
                <th>Tries</th>
                <th>Conversions</th>
                <th>Penalty Goals</th>
                <th>Field Goals</th>
                <th>Runs</th>
                <th>Run Metres</th>
                <th>Line Breaks</th>
                <th>Line Break Assists</th>
                <th>Try Assists</th>
                <th>Tackle Breaks</th>
                <th>Offloads</th>
                <th>Tackles</th>
                <th>Missed Tackles</th>
                <th>Kicks</th>
                <th>Kick Metres</th>
                <th>Forty-Twenties</th>
                <th>Errors</th>
                <th>Sin Bins</th>
                <th>Send Offs</th>
                <th>Playmaker</th>
                <th>Involvement</th>
                <th>Concedes</th>
                <th>MIA</th>
                <th>XRL Score</th>
            </tr>
        </thead>
        <tbody>
        {% for x in range(s) %}
        <tr>
            <td style="white-space: nowrap;">
                {{ stats[x]['player_name'] }}
            </td>
            <td>
                {{ stats[x]['nrl_team'] }}
            </td>
            <td>
                {{ team_selected }}
            </td>
            <td>
                {{ stats[x]['position'] }}
            </td>
            <td>
                {{ stats[x]['mins_played'] }}
            </td>
            <td>
                {{ stats[x]['tries'] }}
            </td>
            <td>
                {{ stats[x]['conversions'] }}
            </td>
            <td>
                {{ stats[x]['penalty_goals'] }}
            </td>
            <td>
                {{ stats[x]['field_goals'] }}
            </td>
            <td>
                {{ stats[x]['all_runs'] }}
            </td>
            <td>
                {{ stats[x]['run_metres'] }}
            </td>
            <td>
                {{ stats[x]['line_breaks'] }}
            </td>
            <td>
                {{ stats[x]['line_break_assists'] }}
            </td>
            <td>
                {{ stats[x]['try_assists'] }}
            </td>
            <td>
                {{ stats[x]['tackle_breaks'] }}
            </td>
            <td>
                {{ stats[x]['offloads'] }}
            </td>
            <td>
                {{ stats[x]['tackles'] }}
            </td>
            <td>
                {{ stats[x]['missed_tackles'] }}
            </td>
            <td>
                {{ stats[x]['kicks'] }}
            </td>
            <td>
                {{ stats[x]['kick_metres'] }}
            </td>
            <td>
                {{ stats[x]['forty_twenties'] }}
            </td>
            <td>
                {{ stats[x]['errors'] }}
            </td>
            <td>
                {{ stats[x]['sin_bins'] }}
            </td>
            <td>
                {{ stats[x]['send_offs'] }}
            </td>
            <td>
                {{ stats[x]['playmaker'] }}
            </td>
            <td>
                {{ stats[x]['involvement'] }}
            </td>
            <td>
                {{ stats[x]['concede'] }}
            </td>
            <td>
                {{ stats[x]['mia'] }}
            </td>
            <td>
                {{ stats[x]['total_score'] }}
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
    </div>
{% endblock %}
